extends ../layout

block content
  .page-header
    h3 साइन  इन करें
  form.form-horizontal(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='email') ईमेल
      .col-sm-7
        input.form-control(type='email', name='email', id='email', placeholder='ईमेल', autofocus=true)
    .form-group
      label.col-sm-3.control-label(for='password') पासवर्ड
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='पासवर्ड')
    .form-group
      .col-sm-offset-3.col-sm-7
        button.col-sm-3.btn.btn-primary(type='submit')
          i.fa.fa-user
          | लॉग इन
